@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}
body,
button {
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

.main-header__links {
  background-color: #2a2a2a;
  width: 100%;
  color: white;
  padding-top: 11px;
  padding-bottom: 12px;
}

.links__container {
  margin: 0 auto;
  max-width: 700px;
  display: flex;
  align-items: center;
  gap: 25px;
}

.links__link-mail-icon {
  margin-right: 6px;
}

.links__mail {
  color: white;
}

.links__dividing-stick {
  margin-left: 17px;
  margin-right: 20px;
}

.links__media-icons {
  display: flex;
  gap: 20px;
}

.additional-info__container {
  display: flex;
  margin: 0 auto;
  max-width: 1199px;
  padding-top: 25px;
  padding-bottom: 26px;
}

.additional-info__logo {
  margin-right: 47px;
}

.additional-info__geo-choise {
  margin-right: 26px;
  display: flex;
}

.geo-choice__list {
  color: #999;
  font-weight: 500;
  font-size: 14px;
  font-style: normal;
  border: none;
}

.additional-info__search {
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  padding: 5px 131px 5px 10px;
  border-radius: 3px;
  margin-right: 153px;
}

.search__icon {
  margin-right: 10px;
}

.search__text {
  border: none;
  background-color: #f7f7f7;
}

.public-info__list {
  display: flex;
  align-items: center;
  list-style: none;
}

.public-info__list .public-info__item:first-child {
  margin-right: 10px;
}

.public-info__list .public-info__item:nth-child(n + 2) {
  margin-right: 24px;
}

.main-header__nav-container {
  display: flex;
  margin: 0 auto;
  max-width: 1199px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.main-header__nav {
  border-top: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
}

.nav__burger-menu {
  margin-right: 45px;
}

.nav__main-navigation {
  display: flex;
  align-items: center;
}

.main-navigation__list {
  display: flex;
  list-style-type: none;
}

.main-content {
  background-color: #f7f7f7;
}

.main-content__container {
  max-width: 1170px;
  margin: 0 auto;
}

.main-content__discount-cards {
  display: flex;
}

.discount-cards__item {
  width: 358px;
  height: 228px;
  border: 5px solid white;
}

.card-1 {
  background-image: url(images/main/discount-card1.jpg);
  position: relative;
}

.card-2 {
  background-image: url(images/main/discount-card2.jpg);
  position: relative;
}

.card-3 {
  background-image: url(images/main/discount-card3.jpg);
  position: relative;
}

.discount-info {
  background-color: white;
  width: 225px;
  height: 99px;
  position: absolute;
  top: 15px;
}

.discount-info__shop-button {
  background-color: #7fad39;
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 125px;
  height: 50px;
  border: none;
}

.small-title {
  color: #7fad39;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  margin-top: 60px;
}

.title {
  color: #2a2a2a;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 30px;
  margin-bottom: 40px;
}

.categories__cards {
  display: flex;
  gap: 21px;
  margin-top: 40px;
}

.categories__card {
  background-color: #fff;
  border: 0.5px solid rgba(42, 42, 42, 0.15);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.06);
  width: 178px;
  height: 127px;
  /* padding-top: 15px; */
}

.card__card-name {
  color: #2a2a2a;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}

.prod-cards {
  display: flex;
  gap: 10px;
}

.prod-card {
  padding: 20px;
  background-color: white;
  border: 0.5px solid rgba(42, 42, 42, 0.15);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);
}

.prod-card__header {
  display: flex;
  justify-content: space-between;
}

.header__discount {
  background-color: #7fad39;
  color: white;
  padding: 9px 7px 8px;
  font-size: 12px;
  font-style: normal;
  font-weight: 800;
  line-height: 30px;
}

.prod-card__availability {
  color: #a9a9a9;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  margin-top: 9px;
}

.prod-card__name {
  color: #2a2a2a;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 22px;
  text-align: center;
}

.price__wrapper {
  display: flex;
  margin: 19px 0 27px;
}

.prod-card__price {
  width: 174px;
  margin: 0 auto;
}

.prod-card__buy {
  display: flex;
  justify-content: space-between;
}

.price {
  margin: 0 auto;
  color: #7fad39;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 22px;
}

.previous-price {
  color: #a9a9a9;
  text-decoration-line: line-through;
}

.buy__amount {
  display: flex;
  gap: 9px;
}

.amount__number {
  color: #2a2a2a;

  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 800;
  line-height: 22px;
}

.adv-card__wrapper {
  display: flex;
  gap: 20px;
}

.adv-card {
  width: 377px;
  height: 290px;
}

.adv-card-1 {
  background-image: url(images/main/best-offer-pic1.jpg);
}

.adv-card-2 {
  background-image: url(images/main/best-offer-pic2.jpg);
}

.adv-card-3 {
  background-image: url(images/main/best-offer-pic3.jpg);
}

.adv-card__info {
  margin-left: 20px;
}

.adv-card-1 .adv-card__info {
  width: 151px;
  height: 123px;
  margin-top: 67px;
}

.adv-card-2 .adv-card__info {
  margin-top: 139px;
}

.adv-card-3 .adv-card__info {
  margin-top: 97px;
  width: 177px;
}

.adv-card__title {
  color: #2a2a2a;
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  line-height: 34px; /* 121.429% */
}

.avd-card__text {
  color: #2a2a2a;
  font-size: 28px;
  font-style: normal;
  font-weight: 300;
  line-height: 34px;
}

.adv-card__button {
  background-color: #2a2a2a;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 20px;
  border: none;
  padding: 15px 20px;
}

.adv-card__long-card {
  background-image: url(images/main/long.jpg);
  width: 100%;
  margin-top: 20px;
  background-repeat: no-repeat;
  width: 1170px;
  height: 140px;
  position: relative;
}

.long-card__offer {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 34px;
  position: absolute;
  top: 23%;
  left: 32%;
}

.long-card__promo-code {
  border: 2px dashed #fff;
  background: rgba(127, 173, 57, 0.7);
  padding: 1px 30px;
  position: absolute;
  top: 55%;
  left: 39%;
}

.promo-code {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: 34px; /* 242.857% */
  text-transform: uppercase;
}
